.feature-image {
    box-shadow: 5px 5px 10px rgba(18, 104, 55, .1), -5px -5px 10px rgba(18, 104, 55, .1);
    height: 500px;
    width: 100%
}

.title {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.label {
    font-weight: 200;
    font-size: .9rem;
}

.features {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.box {
    height: 50px;
    width: 50px;
    background-color: rgba(18, 104, 55, .1);
    ;
    margin-bottom: 15px;
    border-radius: 3px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.align-right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.row-margin {
    margin-bottom: 20px;
}

.carousel-control-next,
.carousel-control-prev {
    color: black;
    font-size: 2rem;

    &:hover {
        color: black;
    }
}

.download-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.testimony-section {
    min-height: 400px;
    margin-top: 50px;
}

@media screen and (max-width: 899px) {

    .title,
    .label {
        text-align: center;
    }

    .box:first-child {
        margin-top: 20px;
    }

    .box {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .testimony-section {
        margin-bottom: 50px;
    }
}