.profile-container {
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    img {
        width: 80px;
        margin-bottom: 5px;
    }
}

.app-nav {
    height: 70px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
}