.nav-header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 100px;
    z-index: 3000;

    img {
        height: 30px;
    }

    a {
        color: #fff !important;
        font-weight: 100;
        margin-right: 30px;
        font-size: .9rem;
    }
}



.section-one {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 700px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    .title {
        margin: 0 !important;
        font-size: 2.2rem;
        font-weight: 100;
    }

    span:first-child {
        color: var(--secondary-color);
    }

    p {
        color: #fff;
        margin-top: 10px;
    }
}

.move-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box {
    padding: 20px 40px;
    min-height: 400px;
    width: 60%;
    border-radius: 5px;

    p {
        text-align: center;
    }
}

.testimonial-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 10px auto;
}

.testimonial-carousel-item {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p:last-child {
        text-align: center;
        color: var(--primary-color);
        font-size: .9rem;
    }
}

.testimonial-subtitle {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin: 0;
    font-weight: bold;
}

.testimonial-title {
    font-size: 1.3rem;
    margin-bottom: 3px;
}

.get-started {
    font-size: .9rem;
}

.separator {
    display: none;
}

@media screen and (max-width: 899px) {
    .nav-header {
        padding: 10px 10px;
        height: inherit;
    }

    .section-one {
        padding-top: 100px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .home-subtitle {
            text-align: center;
        }
    }

    .form-box {
        margin-top: 20px;
        width: 100%;
    }

    .testimonial-subtitle {
        margin-bottom: 20px;
    }

    .get-started {
        margin-top: 10px;
        background-color: #abbc30;
    }

    .separator {
        display: block;
    }
}