@import '~antd/dist/antd';
@import '../assets/antd-custom';
// @import 

:root {
    --primary-color: #126837;
    --secondary-color: #abbc30;
}

* {
    box-sizing: border-box;
}

.swal2-styled.swal2-confirm {
    background-color: var(--primary-color) !important;
}

.swal2-icon.swal2-info {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

body {
    background-color: #f5f6f7;
}

.linear-gradient {
    background: linear-gradient(to right, #126637, #042816);
}

.gbp-gradient {
    background: linear-gradient(to right, #2944B3, #090D67);
}

.usd-gradient {
    background: linear-gradient(to right, #B32963, #67092A);
}

.ant-form-item-explain {
    font-size: .6rem;
}

.ant-input {
    font-size: .8rem;
}

.error-div {
    color: red;
    font-size: .8rem;
    text-align: center;
    margin-bottom: 10px;
}

.app {
    display: flex;
    height: 100vh;

    .app-content {
        flex: 1;
        min-height: 100vh;
        background-color: #FAFAFA;
        position: relative;
    }

    .menu-div {
        width: 256px;
        height: 100vh;
        position: fixed;
        background-color: #271F1F;
    }
}

.ant-menu-item-selected {
    background: linear-gradient(to right, #126637, #042816);
    color: #fff;
}

.ant-menu-item {
    color: #fff;
}

.content-heading,
.block-title {
    font-family: Montserrat, sans-serif;
}

.input-error {
    font-size: .8rem;
    color: red;
}

.ant-notification {
    z-index: 400000000;
}

.main-logo {
    width: 150px;
    margin: 30px;
}

.page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.sidebar-inverse #sidebar .nav-main a {
    color: #fff;
    // background-color: white;
    margin-bottom: 5px;
    padding: 15px 30px;
    font-size: .9rem;
    text-transform: capitalize;
    font-weight: 500;

    &:hover {
        background: linear-gradient(to right, #126637, #042816);
    }
}

.active-link {
    background: linear-gradient(to right, #126637, #042816);
}

.bold-span {
    font-weight: bold;
}

.ant-form-item-label>label {
    font-size: 12px;
    height: 100% !important;
    font-weight: normal;
}

.table-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.add-link {
    font-size: .9rem;
    color: var(--primary-color);
}

.table-currency {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.marketplace-table-div {
    padding: 50px 100px;
    background-color: #f4f4f4;
}

@media screen and (max-width: 899px) {
    .marketplace-table-div {
        padding: 30px 10px;
    }
}

.table-modal-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    margin-bottom: 20px;
}

.bid-details-title {
    text-align: center;
    color: var(--primary-color);
    font-family: Montserrat, sans-serif;
}